{% extends 'base.html' %}

{% block content %}
  {% if latest_question_list %}
    {% for question in latest_question_list %}
      <div class="border p-4">
        <div class="d-flex justify-content-between">
          <a href="{% url 'polls:detail' question.pk%}" class="text-decoration-none fs-3">{{ question.question_text }}</a>
          <p>total: {{question.total }}</p>
        </div>      
        <p class="text-end">{{ question.pub_date }}</p>      
      </div>          
    {% endfor %}  
  {% else %}
    <p>No polls are available.</p>    
  {% endif %}

  
{% endblock content %}